#ignore the virtual environment
lbitc-virt

#Ignore compiles python source files
*.pyc

#Ignore SQlite database files
*.sqlites3

#Ignore test artifacts
src/.coverega
src/*.xml

#Ignore eggs
src/*egg-info

#Ignore build and Test artifact
target
reports

.admin
